.childs {
  background-color: #fff;
  border-radius: .417rem;
  color: #c4c4c4;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  height: 0;
  transform: scale(0.9925);
  transition: all .175s ease-in-out;
  padding: 0;
}

.open {
  opacity: 1;
  height: 10rem;
  transform: scale(1);
  padding: .5rem;
  margin-bottom: .5rem;
}

.child {
  display: flex;
  color: #c4c4c4;
  opacity: .7;
  padding: .4rem .2rem;
  height: auto !important;
  width: 100%;
  border-radius: .417rem;
  justify-content: center;
  margin: .3rem;
}

.child:hover {
  cursor: pointer;
  opacity: 1;
}

.child img {
  height: 2rem;
  width: 2rem;
}

.selected_child {
  margin-left: auto;
  padding: 0 .5rem;
}
.selected_child img {
  height: 1.9rem;
  margin-bottom: -.35rem;
  width: 1.9rem;
}

#select_button.active {
  background-color: #fff !important;
  color: #d8c8c8 !important; 
}