.col {
  margin-top: auto;
  flex-grow: 1;
  font-size: 1.4rem;
  padding-top: .5rem;
}

.row_subtitle {
  background-color: #a4a4a4;
  border-radius: .417rem;
  padding: .5rem;
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: .5rem;
}

.row_content {
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: .5rem;
}

.header {
  padding: 0 !important;
}

.back {
  width: 100%;
  max-width: 10rem;
  padding: 0.5rem;
  height: 75% !important;
  margin-right: auto !important;
}

#user_id {
  padding: 0 1.3rem;
  white-space: nowrap;
}

.main {
  align-items: stretch !important;
}

.row_input {
  align-items: center;
  margin-bottom: 0.3rem;
  width: 100%;
}

#input {
  margin: 0;
  height: 3rem;
}

#add_friend {
  height: 3rem;
  margin: 0 auto 0 0.5rem;
  font-size: 1.3rem;
  white-space: nowrap;
}

.error {
  max-width: none !important;
  margin-bottom: 0 !important;
  margin-top: -.1rem !important;
}