.animate_auth {
  opacity: 0;
  animation: ani_auth 0.2s ease-in-out forwards;
}

#header {
  padding: .08rem;
}

.main {
  justify-content: center;
  box-shadow: 0 0 .7rem #a4a4a4;
  padding: 1rem;
  border-radius: 1.417rem;
  min-width: 60%;
  background: linear-gradient(-45deg, #ffeaddab 0%, rgba(240, 225, 212, 0) 119.15%);
  margin: 1rem .4rem;
}

#title {
  font-size: 2rem;
}

.account {
  margin-left: 0.2rem;
}

.inputs {
  width: 100%;
}

.input_mb {
  margin-bottom: .3rem;
}

#log_reg_btn {
  width: 100%;
  padding: 0.47rem;
  height: auto;
  font-size: 1.4rem;
}

#btn_wrapper {
  width: 100%;
  max-width: 30rem;
  justify-content: left;
  margin-top: 0.6rem;
}

#log_reg {
  width: 100%;
  max-width: 30rem;
  justify-content: left;
  font-size: 1.2rem;
}

#back {
  width: 100%;
  max-width: 10rem;
  padding: 0.5rem;
  height: 82%;
}

#support {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  max-width: 18rem;
  height: 82%;
  margin-left: auto;
}

@keyframes ani_auth {
  0% {
    opacity: 0;
    transform: scale(0.9925);
  }
  100% {
    opacity: 1;
    transfrom: scale(1);
  }
}