#options {
  justify-content: flex-start;
  overflow: auto;
  padding: 0.1rem 0;
  margin-right: auto;
}

#options_auth {
  justify-content: flex-start;
  margin-top: auto;
  margin-right: auto;
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
}

#add_mark_preview {
  opacity: .6;
  top: 50%;
  left: 50%;
  margin-left: -1.35rem;
  margin-top: -5.95rem;
  position: absolute;
  display: none;
  width: 2.8rem;
  height: 6.1rem;
  z-index: 10;
  transition: opacity .1s ease-in-out;
}

.span_1 {
  margin-bottom: -0.4rem;
}

.span_2 {
  margin-right: 0.4rem;
}

.login_button {
  margin-left: 0.15rem !important;
}

#logout_btn {
  margin-left: .5rem;
  margin-top: 0.1rem;
}

.select_type {
  white-space: nowrap;
  margin-right: .57rem;
}

#add_mark_preview:hover {
  cursor: pointer;
  opacity: .8;
}
body.touch #add_mark_preview:hover {
  opacity: 1 !important;
}

#add_mark_preview:active {
  opacity: .9;
}

#add_placemark {
  margin-left: 0.57rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 10;
}