#options {
  justify-content: flex-start;
  overflow: auto;
  padding: 0.3rem 0.2rem 0.1rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
  margin-right: auto;
  z-index: 10;
}

#options_auth {
  justify-content: flex-start;
  margin-top: auto;
  margin-right: auto;
  z-index: 10;
  padding: 0.2rem;
  margin-left: -0.2rem;
  margin-bottom: -0.2rem;
  overflow-x: auto;
  overflow-y: hidden;
}

#add_mark_preview {
  opacity: .6;
  top: 50%;
  left: 50%;
  margin-left: -1.35rem;
  margin-top: -5.95rem;
  position: absolute;
  display: none;
  width: 2.8rem;
  height: 6.1rem;
  z-index: 10;
  transition: opacity .1s ease-in-out;
}

.span_1 {
  margin-bottom: -0.4rem;
}

.span_2 {
  margin-right: 0.4rem;
}

.login_button {
  margin-left: 0.15rem !important;
}

#logout_btn {
  margin-left: .5rem;
  margin-top: 0.1rem;
  z-index: 10;
}

.select_type {
  white-space: nowrap;
  margin-right: .57rem;
}

#add_mark_preview:hover {
  cursor: pointer;
  opacity: .8;
}
body.touch #add_mark_preview:hover {
  opacity: 1 !important;
}

#add_mark_preview:active {
  opacity: .9;
}

#add_placemark {
  margin-left: 0.57rem;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.preview_modal {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  max-width: 18rem;
  min-width: 10rem;
  margin-top: 8px;
  margin-left: 8px;
  height: auto;
  background: linear-gradient(108.58deg, rgba(255, 250, 232, 0.95) 2.75%, rgba(255, 250, 232, 0.71) 96.49%);
  box-shadow: 0 0 2rem -0.6rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  display: none;
  z-index: 10;
  padding: 0.5rem;
}

.preview_modal_title {
  background: rgba(196, 196, 196, 0.7);
  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.15);
  padding: 0.2rem .5rem;
  border-radius: .8rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  word-wrap: break-word;
}

.preview_modal_main {
  background: linear-gradient(260.77deg, rgba(196, 196, 196, 0.7) 58.51%, rgba(196, 196, 196, 0.2) 147.2%);
  filter: drop-shadow(0 0 .8rem rgba(0, 0, 0, 0.25));
  border-radius: .8rem;
  width: 100%;
  padding: 0.2rem .5rem;
  margin-top: 0.5rem;
  word-wrap: break-word;
}